data/*
ARCHIVE/data_OLD/*
*.DS_Store
.ipynb_checkpoints
*__pycache__*
*.pyc
secrets.yaml
arcos_polygons_2025-04-03.geojson
poly_wi_gte_70_pct_cover_base_ev.csv
tf_cohort1_landscapes_baseline_ev_pct_cover_comparison.csv