name: Run Tests

on:
  pull_request:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read
jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      max-parallel: 4
      matrix:
        python-version: ["3.12"]
    steps:
     - name: Checkout code
       uses: actions/checkout@v4

      # Checkout private dependency repository
     - name: Checkout private repo
       uses: actions/checkout@v3
       with:
          repository: wri/terramatch-researcher-api # Replace with the private repo name
          token: ${{ secrets.PRIVATE_REPO_PAT }} # Use the PAT stored in secrets

     - name: Install UV
       uses: astral-sh/setup-uv@v6

     - name: Sync dependencies
       env:
         GH_TOKEN: ${{ secrets.GH_TOKEN }}
       run: uv sync --locked --all-extras --dev

     - name: Install Linux dependencies
       run: |
        sudo apt update
        sudo apt install -y gdal-bin libgdal-dev

     - name: Configure AWS Credentials
       uses: aws-actions/configure-aws-credentials@v5.1.0
       with:
         role-to-assume: arn:aws:iam::838255262149:role/restoration-gitub-actions
         aws-region: us-east-1

     - name: Run Tests
       env:
        GFW_ACCESS_TOKEN: ${{ secrets.GFW_ACCESS_TOKEN }}
        OPENTOPO_API_KEY: ${{ secrets.OPENTOPO_API_KEY }}
       run: uv run pytest tests/
